.left-homescreen {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 300px;
    height: 600px;
}

.left-homescreen .wallpaper {
    height: 600px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.app-icon.meteored-icon {
    position: absolute;
    top: 372px;
    left: 40px;
    height: 40px;
    width: 38px;
}

.app-icon.ai-gallery-icon {
    position: absolute;
    top: 372px;
    left: 108px;
    height: 40px;
    width: 38px;
}

.app-icon.keep-notes-icon {
    position: absolute;
    top: 372px;
    left: 178px;
    height: 40px;
    width: 38px;
}

.app-icon.palm-store-icon {
    position: absolute;
    top: 372px;
    left: 238px;
    height: 40px;
    width: 38px;
}