.homescreen {
    position: relative;
}

.wallpaper {
    height: 600px;
    width: 300px;
    border-radius: 20px;
}

.widget {
    position: absolute;
    top: 45px;
    left: 18px;
    height: 150px;
    width: 118px;
    border-radius: 20px;
}

.google-folder {
    position: absolute;
    top: 65px;
    left: 170px;
    height: 120px;
    width: 115px;
    background: hsl(0, 1%, 61%);
    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    place-items: center;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.google-folder a {
    top: -2px;
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.google-folder-label {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 180px;
    left: 212px;
    font-size: 10px;
    color: white;
    text-shadow: 0px 0px 2px rgb(63, 62, 62);
}

.app-icon {
    width: 25px;
    height: 25px;
    border-radius: 8px;
}

.social-folder {
    position: absolute;
    top: 223px;
    left: 28px;
    height: 120px;
    width: 115px;
    background: hsl(0, 1%, 61%);
    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    place-items: center;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.social-folder a {
    top: -2px;
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;

}

.social-folder-label {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 115px;
    left: 43px;
    font-size: 10px;
    color: white;
    text-shadow: 0px 0px 2px rgb(63, 62, 62);
}


.app-icon.instagram-icon,
.app-icon.facebook-icon {
    margin-bottom: 32px;
}

.tools-folder {
    position: absolute;
    top: 223px;
    left: 170px;
    height: 120px;
    width: 115px;
    background: hsl(0, 1%, 61%);
    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    place-items: center;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}
