.app-icon.gcash-icon {
    position: relative;
    top: -236px;
    left: 560px;
    height: 40px;
    width: 38px;
    border-radius: 12px;
}

.gcash-label {
    position: absolute;
    top: 412px;
    left: 575px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: rgb(224, 211, 211);
    text-shadow: 0 1px 3px rgba(0,0,0,0.8);
    pointer-events: none;
}

.app-icon.shopee-icon {
    position: relative;
    top: -280px;
    left: 630px;
    height: 40px;
    width: 38px;
    border-radius: 12px;
}

.shopee-label {
    position: absolute;
    top: 412px;
    left: 644px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    font-weight: 500;
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.8);
    pointer-events: none;
}