.app-icon.phone-icon {
    position: relative;
    top: -150px;
    left: 20px;
    height: 40px;
    width: 38px;
}

.app-icon.messages-icon {
    position: relative;
    top: -150px;
    left: 36px;
    height: 39px;
    width: 37px;
}