.app-dock {
    position: absolute;
    bottom: 18px;
    left: 18px;
    right: 18px;
    display: flex;
    justify-content: space-between;
} 

.app-icon.phone-icon {
    height: 40px;
    width: 40px;
}

.app-icon.messages-icon {
    height: 40px;
    width: 40px;
}

.app-icon.chrome-icon {
    height: 40px;
    width: 40px;
}

.app-icon.contacts-icon {
    height: 40px;
    width: 40px;
}

.app-icon.camera-icon {
    height: 40px;
    width: 40px;
}
